body {
    font-family: Roboto, sans-serif;
}

section {
    min-height: 400px;
}

.centerContainer {
    position: relative;
}

.centeredContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#some_text > div {
    height: 400px;
}

section#some_text article {
    line-height: 1em;
    background-color: #ffffff;

    padding: 5% 10%;

    width: 50%;
}

section#some_text p, h1 {
    text-align: center;
}

section#some_text h1 {
    font-size: 25px;
    font-weight: normal;
}

section#some_text p.mainText {
    text-align: left !important;
    display: block;
}

button {
    padding: 10px 30px;
    margin-top: 40px;
}

button.btnhov {
    filter: invert(40%);
}

.btn {

}

.View_Project {
    font-size: 18px;
    font-family: "Roboto";
    color: #222222;
    text-transform: uppercase;
    line-height: 1.333;
    text-align: left;
    z-index: 62;
}

.Rectangle_7 {
    border: 2px solid #222222;
    background-color: rgba(41, 10, 89, 0);
    width: 204px;
    height: 58px;
    z-index: 61;
}

#img_container {
    background-color: #020202;
}

.rects {
    list-style-type: none;
    max-height: 1000px;

    display: flex;
    align-items: stretch;
    align-content: stretch;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 0px;
    margin: 0px;
}

.rects li {
    position: relative;
    flex: 0 1 33.3%;
    overflow: hidden;
    box-sizing: border-box;

    color: #ffffff;
}

.txtOverImg {
    position: absolute;
    left: 40%;
    top: 50%;

    font-size: x-large;
    text-transform: uppercase;

    display: none;
}

.amazingTextBlock {
    background-color: #EFEEE9;
}

section#contact {
    background-color: #363636;
    color: #ffffff;
}

#contactInformation {
    padding-left: 15px;

    font-size: larger;
    float: left;
    width: 40%
}

#map {
    height: 400px;
    min-width: 50%;
    float: right;
    margin-right: 50px;
}

@media all and (max-width: 690px) {
    #map {
        display: none;
    }

    #contactInformation {
        width: 95%;
    }
}

.Copyright {
    font-size: 20px;
    font-family: "Roboto";
    color: #353535;
    line-height: 1.4;
    text-align: left;
    z-index: 5;
}

footer {
    height: 100px;
    background-color: #EFEEE9;
}

footer > div > p:first-child {
    float: left;
}

footer > div > p:nth-child(2) {
    float: right;
}

footer a {
    color: #000000;
}